/KnapsackZeroOne.class
/KnapsackZeroOneOofC.class
/KnapSackZeroOne.class
/MinDifference.class
/EqualSubSet.class
/SubSetSum.class
/CountSubSet.class
/TargetSum.class
/UnboundKanpSack.class
/CoinChange.class
